<%- include( "header" ) -%>
<h1 class="my-5">
    Bloggers 
    <br />
    <small class="h4">The Bloggers Point</small>
</h1>
<p>
    Welcome to WritersPoint. Search through a wide range of articles.. Have fun Reading !
</p>
<p>
    Author: Furqan
</p>
<p>
    <ul>
        <li>Write a Blog</li>
        <li>Express your inner thoughts</li>
        <li>Post and Read</li>
        
    </ul>
</p>
<%- include( "footer" ) -%>