<!DOCTYPE html>
<html>
<style>
   div{
        background : lightblue;
        border: 1px solid pink;
        margin : 5px;
        padding : 5px;
        }
 .section_float{
       overflow : hidden;
        }

   div{
         float: left;
         width: 25%;
       }

</style>

<section>
<div> product 1 </div>
<div> product 2 </div>
<div> product 3 </div>
<div> product 4 </div>
<div> product 5 </div>
<div> product 6 </div>
<div> product 7 </div>
<div class ="product 5"> product 8 </div>
</section>

<html>